{% extends "home/base.html" %}
{% block menu %}

{% load static %}

<div class="container">
    {% include 'messages.html' %}
    <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile" class="btn btn-default ">
                <button type="submit" class="btn btn-default ">Upload</button>
              </form>

              {% if uploaded_file_url %}
                <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
              {% endif %}

              <p><a href="{% url 'home-url' %}">Return to home</a></p>
          </div>
          <div class="col-sm-6">
            {% if uploaded_file_url %}
              <img src={{uploaded_file_url}} class="girl img-responsive" alt="" />
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock menu %}